<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align:center">
    <h1>Add Products</h1>
    <form action="">
        <label for="">Image: </label>
        <input type="file" name="" id=""><br><br>
        <label for="">Model: </label>
        <input type="text" name="" id=""><br><br>
        <label for="">Price: </label>
        <input type="text" name="" id=""><br><br>
        <label for="">brand: </label>
        <input type="text" name="" id=""><br><br>
        <button type="button" name="upload" value="upload" id="upload" class="btn btn-block btn-dark"><i class="fa fa-fw fa-upload"></i> Upload</button>
    </form>
</body>
</html>